.shake-anim {
    animation-duration: 1s;
    transform-origin: center 170px;
}

@keyframes shake {
    10%, 90% {
        transform: rotate(1deg);
    }

    20%, 80% {
        transform: rotate(-2deg);
    }

    30%, 50%, 70% {
        transform: rotate(-4deg);
    }

    40%, 60% {
        transform: rotate(4deg);
    }
}