$primary-color: #37474F;

/*
Spectre.css@0.4.6
https://picturepan2.github.io/spectre/
*/
@import "spectre.css/src/spectre";
@import "spectre.css/src/spectre-icons";
@import "./animations";

/*
Google fonts
*/
@import url("https://fonts.googleapis.com/css?family=Lora:700|Open+Sans");

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #EEF;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lora', serif;
        font-weight: 700;
    }

    #tree-container {
      position: relative;

      .tree-notification {
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        padding:0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $light-color;
        background-color: $primary-color;
        border-radius: 30px;
      }
    }
}
