$primary-color: #4E342E;
$svg-nut-black: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEyNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTcyLjg0NDg0ODYsNTkuMDY4OTY5N2MtNC4zMTc5MzIxLTMuNDk3NzQxNy02LjA0NzI0MTItNi44NDIyMjQxLTYuNzA2MTc2OC05LjIyNDczMTQgICBjLTcuODQ2Njc5Nyw2LjQ1NDU4OTgtMTcuNDQzMzU5NCwyLjM5MDEzNjctMTcuNTUwNzgxMiwyLjM0MjI4NTJjLTAuMzQ1NzAzMS0wLjE1MTM2NzItMC42MjMwNDY5LTAuNDI3NzM0NC0wLjc3NDQxNDEtMC43NzQ0MTQxICAgYy0wLjA0NTg5ODQtMC4xMDU0Njg4LTQuMTEzMjgxMi05LjcwMzYxMzMsMi4zNDE3OTY5LTE3LjU1MDI5M2MtMi4zODIwODAxLTAuNjU5MzAxOC01LjcyNjU2MjUtMi4zODgzNjY3LTkuMjI0MjQzMi02LjcwNjE3NjggICBjLTkuMTY1NzcxNSw1LjI1NjEwMzUtMTUuMDkxNDMwNywxMi4zNzgxNzM4LTE3LjYwMTkyODcsMjEuMTk1OTIyOSAgIGMtMi40NzMyNjY2LDguNjg0NjMxMy0xLjA2MTA5NjIsMTYuNzc1Njk1OCwwLjUxMTcxODgsMjEuNjE3MTI2NUMyNC41NTU0ODEsNjQuNDkzNTkxMywyNy4xODA1NDIsNTUuMzM0NDcyNywzNi4yMTg3NSw0Ni4yOTY4NzUgICBjMC41ODU5Mzc1LTAuNTg1OTM3NSwxLjUzNTE1NjItMC41ODU5Mzc1LDIuMTIxMDkzOCwwYzAuNTg1OTM3NSwwLjU4NTQ0OTIsMC41ODU5Mzc1LDEuNTM1NjQ0NSwwLDIuMTIxMDkzOCAgIEMyNy43OTc4NTE2LDU4Ljk1OTk2MDksMjYuNjYzMDg1OSw2OS44MTA1NDY5LDI2LjYwMjUzOTEsNzMuNDQzMzU5NCAgIGMzLjI3OTI5NjksMC4wNjM0NzY2LDEyLjIxNjc5NjktMC40NTIxNDg0LDE5LjE0NTUwNzgtNy4zNzk4ODI4YzAuNTg1OTM3NS0wLjU4NTkzNzUsMS41MzUxNTYyLTAuNTg1OTM3NSwyLjEyMTA5MzgsMCAgIHMwLjU4NTkzNzUsMS41MzUxNTYyLDAsMi4xMjEwOTM4Yy01LjgxNjE2MjEsNS44MTUzNjg3LTEyLjcyNDczMTQsNy42MDgxNTQzLTE3LjQyOTgwOTYsOC4xMDMzMzI1ICAgYzQuODgwNzk4MywxLjUxODg1OTksMTIuNzYzMDAwNSwyLjc4OTAwMTUsMjEuMjA5MTA2NCwwLjM4Mjk5NTYgICBDNjAuNDY1NzU5Myw3NC4xNjA0MDA0LDY3LjU4ODI1NjgsNjguMjM0NzQxMiw3Mi44NDQ4NDg2LDU5LjA2ODk2OTd6Ii8+PHBhdGggZD0iTTY3LjkzMDY2NDEsMzIuMDY5ODI0MmMtMTIuNDcyNjU2Mi0xMi40NzIxNjgtMjIuNjkwNDI5Ny0xMC4zNjkxNDA2LTI2LjMwMjczNDQtOS4wMTE3MTg4ICAgYzUuOTQ3MjY1Niw4Ljg2NTcyMjcsMTEuMjkzOTQ1Myw4LjIxMDkzNzUsMTEuNTI3MzQzOCw4LjE3NjI2OTVjMC42NjUwMzkxLTAuMDk3MTY4LDEuMzE4MzU5NCwwLjI1NzMyNDIsMS41OTM3NSwwLjg2NjY5OTIgICBjMC4yNzQ0MTQxLDAuNjA5Mzc1LDAuMTI0MDIzNCwxLjMyNTY4MzYtMC4zODU3NDIyLDEuNzU4MzAwOGMtNi44NDY2Nzk3LDUuODA3NjE3Mi00Ljc2OTUzMTIsMTMuNjI1OTc2Ni00LjAxMzY3MTksMTUuNzkxNTAzOSAgIGMyLjE2MTEzMjgsMC43NTQ4ODI4LDkuOTgxNDQ1MywyLjgzNTQ0OTIsMTUuNzkxOTkyMi00LjAxMzY3MTljMC4yOTE5OTIyLTAuMzQ0NzI2NiwwLjcxMzg2NzItMC41Mjk3ODUyLDEuMTQ0NTMxMi0wLjUyOTc4NTIgICBjMC4yMTQ4NDM4LDAsMC40MzE2NDA2LDAuMDQ2Mzg2NywwLjYzNTc0MjIsMC4xNDIwODk4YzAuNjEzMjgxMiwwLjI4NzU5NzcsMC45NTgwMDc4LDAuOTUwMTk1MywwLjg0MDgyMDMsMS42MTcxODc1ICAgYy0wLjAzMDI3MzQsMC4yMTQ4NDM4LTAuNjgzNTkzOCw1LjU2NTkxOCw4LjE5MzM1OTQsMTEuNTE1MTM2NyAgIEM3OC4zNTE1NjI1LDU0Ljc4NDE3OTcsODAuNTA3ODEyNSw0NC42NDY5NzI3LDY3LjkzMDY2NDEsMzIuMDY5ODI0MnoiLz48L2c+PC9zdmc+";
$svg-nut-white: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEyNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTcyLjg0NDg0ODYsNTkuMDY4OTY5N2MtNC4zMTc5MzIxLTMuNDk3NzQxNy02LjA0NzI0MTItNi44NDIyMjQxLTYuNzA2MTc2OC05LjIyNDczMTQgICBjLTcuODQ2Njc5Nyw2LjQ1NDU4OTgtMTcuNDQzMzU5NCwyLjM5MDEzNjctMTcuNTUwNzgxMiwyLjM0MjI4NTJjLTAuMzQ1NzAzMS0wLjE1MTM2NzItMC42MjMwNDY5LTAuNDI3NzM0NC0wLjc3NDQxNDEtMC43NzQ0MTQxICAgYy0wLjA0NTg5ODQtMC4xMDU0Njg4LTQuMTEzMjgxMi05LjcwMzYxMzMsMi4zNDE3OTY5LTE3LjU1MDI5M2MtMi4zODIwODAxLTAuNjU5MzAxOC01LjcyNjU2MjUtMi4zODgzNjY3LTkuMjI0MjQzMi02LjcwNjE3NjggICBjLTkuMTY1NzcxNSw1LjI1NjEwMzUtMTUuMDkxNDMwNywxMi4zNzgxNzM4LTE3LjYwMTkyODcsMjEuMTk1OTIyOSAgIGMtMi40NzMyNjY2LDguNjg0NjMxMy0xLjA2MTA5NjIsMTYuNzc1Njk1OCwwLjUxMTcxODgsMjEuNjE3MTI2NUMyNC41NTU0ODEsNjQuNDkzNTkxMywyNy4xODA1NDIsNTUuMzM0NDcyNywzNi4yMTg3NSw0Ni4yOTY4NzUgICBjMC41ODU5Mzc1LTAuNTg1OTM3NSwxLjUzNTE1NjItMC41ODU5Mzc1LDIuMTIxMDkzOCwwYzAuNTg1OTM3NSwwLjU4NTQ0OTIsMC41ODU5Mzc1LDEuNTM1NjQ0NSwwLDIuMTIxMDkzOCAgIEMyNy43OTc4NTE2LDU4Ljk1OTk2MDksMjYuNjYzMDg1OSw2OS44MTA1NDY5LDI2LjYwMjUzOTEsNzMuNDQzMzU5NCAgIGMzLjI3OTI5NjksMC4wNjM0NzY2LDEyLjIxNjc5NjktMC40NTIxNDg0LDE5LjE0NTUwNzgtNy4zNzk4ODI4YzAuNTg1OTM3NS0wLjU4NTkzNzUsMS41MzUxNTYyLTAuNTg1OTM3NSwyLjEyMTA5MzgsMCAgIHMwLjU4NTkzNzUsMS41MzUxNTYyLDAsMi4xMjEwOTM4Yy01LjgxNjE2MjEsNS44MTUzNjg3LTEyLjcyNDczMTQsNy42MDgxNTQzLTE3LjQyOTgwOTYsOC4xMDMzMzI1ICAgYzQuODgwNzk4MywxLjUxODg1OTksMTIuNzYzMDAwNSwyLjc4OTAwMTUsMjEuMjA5MTA2NCwwLjM4Mjk5NTYgICBDNjAuNDY1NzU5Myw3NC4xNjA0MDA0LDY3LjU4ODI1NjgsNjguMjM0NzQxMiw3Mi44NDQ4NDg2LDU5LjA2ODk2OTd6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgIGQ9Ik02Ny45MzA2NjQxLDMyLjA2OTgyNDJjLTEyLjQ3MjY1NjItMTIuNDcyMTY4LTIyLjY5MDQyOTctMTAuMzY5MTQwNi0yNi4zMDI3MzQ0LTkuMDExNzE4OCAgIGM1Ljk0NzI2NTYsOC44NjU3MjI3LDExLjI5Mzk0NTMsOC4yMTA5Mzc1LDExLjUyNzM0MzgsOC4xNzYyNjk1YzAuNjY1MDM5MS0wLjA5NzE2OCwxLjMxODM1OTQsMC4yNTczMjQyLDEuNTkzNzUsMC44NjY2OTkyICAgYzAuMjc0NDE0MSwwLjYwOTM3NSwwLjEyNDAyMzQsMS4zMjU2ODM2LTAuMzg1NzQyMiwxLjc1ODMwMDhjLTYuODQ2Njc5Nyw1LjgwNzYxNzItNC43Njk1MzEyLDEzLjYyNTk3NjYtNC4wMTM2NzE5LDE1Ljc5MTUwMzkgICBjMi4xNjExMzI4LDAuNzU0ODgyOCw5Ljk4MTQ0NTMsMi44MzU0NDkyLDE1Ljc5MTk5MjItNC4wMTM2NzE5YzAuMjkxOTkyMi0wLjM0NDcyNjYsMC43MTM4NjcyLTAuNTI5Nzg1MiwxLjE0NDUzMTItMC41Mjk3ODUyICAgYzAuMjE0ODQzOCwwLDAuNDMxNjQwNiwwLjA0NjM4NjcsMC42MzU3NDIyLDAuMTQyMDg5OGMwLjYxMzI4MTIsMC4yODc1OTc3LDAuOTU4MDA3OCwwLjk1MDE5NTMsMC44NDA4MjAzLDEuNjE3MTg3NSAgIGMtMC4wMzAyNzM0LDAuMjE0ODQzOC0wLjY4MzU5MzgsNS41NjU5MTgsOC4xOTMzNTk0LDExLjUxNTEzNjcgICBDNzguMzUxNTYyNSw1NC43ODQxNzk3LDgwLjUwNzgxMjUsNDQuNjQ2OTcyNyw2Ny45MzA2NjQxLDMyLjA2OTgyNDJ6Ii8+PC9nPjwvc3ZnPg==";
/*
Spectre.css@0.4.6
https://picturepan2.github.io/spectre/
*/
@import "spectre.css/src/spectre";
@import "spectre.css/src/spectre-icons";
@import "./animations";
/*
Google fonts
*/
@import url("https://fonts.googleapis.com/css?family=Lora:700|Open+Sans");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #EEF;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lora', serif;
    font-weight: 700;
  }

  #tree-container {
    position: relative;

    .tree-notification {
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: $light-color;
      background-color: $primary-color;
      border-radius: 30px;

      &:after {
        content: "";
        display: inline-block;
        background: url("data:image/svg+xml;base64," + $svg-nut-white);
        width: 16px;
        height: 16px;
        background-size: 20px 25px;
        color: "#fff";
      }
    }
  }
}
