/*
Spectre.css@0.4.6
https://picturepan2.github.io/spectre/
*/
@import "spectre.css/src/spectre";
@import "spectre.css/src/spectre-icons";

/*
Google fonts
*/
@import url("https://fonts.googleapis.com/css?family=Lora:700|Open+Sans");

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lora', serif;
        font-weight: 700;
    }
}